{% extends 'base.html.twig' %} {% block title %}Bienvenue à Arcadia{% endblock
%} {% block content %}
<div class="background-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="presentation-container">
          <div class="text-container">
            <h1>Bienvenue à Arcadia</h1>
            <p>
              Bienvenue à Arcadia, le zoo où la nature prend vie ! Découvrez la
              savane et ses lions majestueux, les éléphants qui parcourent les
              plaines et les girafes se nourrissant des acacias.<br />

              Partez ensuite dans la jungle pour croiser les tigres, observer
              les macaques et admirer les aras colorés.<br />

              Gravissez les montagnes aux côtés des bouquetins et chamois,
              explorez le désert avec ses dromadaires, fennecs, cobras et
              iguanes, puis terminez votre voyage dans les marais où les
              hippopotames se prélassent paisiblement.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image-container">
          <div class="cadre-3d">
            <img
              id="main-image"
              src="{{ asset('images/jungle/tigre.jpg') }}"
              alt="Tigre"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="centered-section">
    <h2>Explorez la diversité de nos habitats</h2>
    <p>
      Rencontrez nos animaux emblématiques de la savane, des marais et des
      montagnes, et plongez dans leurs mondes fascinants.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="rectangle">
          <img
            src="{{ asset('images/savane/lion.jpg') }}"
            alt="Image 1"
            class="image img-fluid"
          />
          <div class="description-contain">
            <p>
              Rencontrez le roi de la savane - le lion. Découvrez sa majesté et
              sa puissance
            </p>
            <a href="{{ path('app_savane') }}#lion"
              >En savoir plus...<img
                src="{{ asset('images/logo/iconeLien.png') }}"
                alt="Logo En Savoir Plus"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="rectangle">
          <img
            src="{{ asset('images/marais/crocodilenil.jpg') }}"
            alt="Image 2"
            class="image img-fluid"
          />
          <div class="description-contain">
            <p>Explorez le monde mystérieux des crocodiles des marais</p>
            <a href="{{ path('app_marais') }}#croco"
              >En savoir plus...<img
                src="{{ asset('images/logo/iconeLien.png') }}"
                alt="Logo En Savoir Plus"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="rectangle">
          <img
            src="{{ asset('images/montagne/loup.jpg') }}"
            alt="Image 3"
            class="image img-fluid"
          />
          <div class="description-contain">
            <p>
              Plongez dans l'essence majestueuse du loup gris, maître des forêts
              sauvages
            </p>
            <a href="{{ path('app_mountain') }}#loup"
              >En savoir plus...<img
                src="{{ asset('images/logo/iconeLien.png') }}"
                alt="Logo En Savoir Plus"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5 d-flex justify-content-center">
    <div class="p-5 rounded shadow avis-form-wrapper">
      <h3 class="text-center mb-4">Laisser un avis</h3>

      {{ form_start(form, { attr: { id: "avis_form" } }) }}

      <div class="mb-3">
        {{ form_label(form.pseudo) }}
        {{ form_widget(form.pseudo, { attr: { class: "form-control" } }) }}
        {{ form_errors(form.pseudo) }}
      </div>

      <div class="mb-3">
        {{ form_label(form.note) }}
        <div class="radio-note-horizontal">
          <span class="note-label">Insatisfait</span>
          <div class="radio-group">
            {% for choice in form.note %}
            <label class="radio-inline">
              {{ form_widget(choice) }}
              {{ choice.vars.label }}
            </label>
            {% endfor %}
          </div>
          <span class="note-label">Très satisfait</span>
        </div>
        {{ form_errors(form.note) }}
      </div>

      <div class="mb-3">
        {{ form_label(form.message) }}
        {{
          form_widget(form.message, {
            attr: { class: "form-control", rows: 4 }
          })
        }}
        {{ form_errors(form.message) }}
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-success">Laisser un avis</button>
      </div>

      {{ form_end(form) }}
    </div>
  </div>

  <!-- message de confirmation -->
  <div id="message" style="display: none"></div>

  <div class="container mt-4">
    <h3 class="titre-avis">Avis des visiteurs</h3>

    {% if avisValides is empty %}
    <p>Aucun avis validé pour le moment.</p>
    {% else %} {% for avis in avisValides %}
    <div class="avis-section">
      <div class="card mb-5 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ avis.pseudo }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ avis.date|date('d/m/Y') }}
          </h6>
          <p class="card-text">{{ avis.message }}</p>
          <p class="card-text">Note : {{ avis.note }} / 5 ⭐</p>
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}
