{% extends 'base.html.twig' %} {% block title %}Formulaire{% endblock %} {%
block content %}
<div class="screen">
  <h6 class="title-form">Contactez-nous</h6>
  <div class="Formulaire">
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.motif) }}
    {{ form_row(form.description) }}
    <div class="text-center">
      <button type="submit" class="form-button">Envoyer</button>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
