{% extends 'base.html.twig' %} {% block title %}Marais{% endblock %} {% block
content %}
<div class="background-section-marais">
  <div class="container service-container">
    <div class="row">
      <nav class="col-md-3 service-nav">
        <ul>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_desert' %}active{% endif %}"
          >
            <a href="{{ path('app_desert') }}">Désert</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_jungle' %}active{% endif %}"
          >
            <a href="{{ path('app_jungle') }}">Jungle</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_mountain' %}active{% endif %}"
          >
            <a href="{{ path('app_mountain') }}">Montagne</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_marais' %}active{% endif %}"
          >
            <a href="{{ path('app_marais') }}">Marais</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_savane' %}active{% endif %}"
          >
            <a href="{{ path('app_savane') }}">Savane</a>
          </li>
        </ul>
      </nav>

      <div class="col-md-9 content animals-intro">
        <h1 class="animals-title">Marais</h1>
        <p class="intro-animals">
          Bienvenue dans les Marais, un écosystème luxuriant au cœur de notre
          zoo. Explorez cet habitat humide où le castor, le crocodile du Nil,
          l'hippopotame, le lamantin et la tortue de Californie prospèrent.<br /><br />
          Plongez dans ce monde aquatique où chaque créature révèle la beauté de
          la vie sauvage des Marais.
        </p>
      </div>
    </div>
  </div>

  <section class="section-services">
    <div class="service1">
      <article class="description">
        <p>
          Prénom : Crac <br />
          Race : Castor <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Marais et cours d'eau <br />
          État de l'animal : <br />
          Nourriture proposée : écorce, branches, plantes aquatiques <br />
          Grammage de la nourriture : 1 à 2 kg <br />
          Date de passage : 00/00/2024
        </div>
        <div class="like-button-container">
          <button id="increment-Crac" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/marais/castor.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service2" id="croco">
      <article class="service">
        <img
          src="{{ asset('assets/images/marais/crocodilenil.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <p>
          Prénom : Godzilla <br />
          Race : Crocodile du Nil <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Marais et cours d'eau <br />
          État de l'animal : <br />
          Nourriture proposée : viande de poulet, poisson, bœuf <br />
          Grammage de la nourriture : 2 à 5 kg <br />
          Date de passage : 00/00/2024
        </div>
        <div class="like-button-container">
          <button id="increment-godzilla" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service3">
      <article class="description">
        <p>
          Prénom : Pumba <br />
          Race : Hippopotame <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Marais et cours d'eau <br />
          État de l'animal : <br />
          Nourriture proposée : foin, herbe, légumes <br />
          Grammage de la nourriture : 20 à 50 kg <br />
          Date de passage : 00/00/2024
        </div>
        <div class="like-button-container">
          <button id="increment-Pumba" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/marais/hipopotame.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service4">
      <article class="service">
        <img
          src="{{ asset('assets/images/marais/lamantin.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <p>
          Prénom : Annie <br />
          Race : Lamantin <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Marais et cours d'eau <br />
          État de l'animal : <br />
          Nourriture proposée : laitue, algues, légumes aquatiques <br />
          Grammage de la nourriture : 30 à 50 kg <br />
          Date de passage : 00/00/2024
        </div>
        <div class="like-button-container">
          <button id="increment-Annie" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service5">
      <article class="description">
        <p>
          Prénom : Shelly <br />
          Race : Tortue <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Marais et cours d'eau <br />
          État de l'animal : <br />
          Nourriture proposée : végétaux, fruits, vers de terre <br />
          Grammage de la nourriture : 100 à 200 g <br />
          Date de passage : 00/00/2024
        </div>
        <div class="like-button-container">
          <button id="increment-Shelly" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/marais/tortuecalifornie.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
  </section>
</div>
{% endblock %}
