{% extends 'base.html.twig' %} {% block title %}Désert{% endblock %} {% block
content %}
<div class="background-section">
  <div class="container service-container">
    <div class="row">
      <nav class="col-md-3 service-nav" id="ticket">
        <ul>
          <li><a href="#ticket">Billeterie</a></li>
          <li><a href="#time">Accès & Horaires</a></li>
          <li><a href="#train">Petit Train</a></li>
          <li><a href="#guide">Guide</a></li>
          <li><a href="#restaurant">Restauration</a></li>
        </ul>
      </nav>
      <div class="col-md-9 content">
        <h1 class="service-title">Services</h1>
        <p class="intro">
          Découvrez une gamme de services conçus pour enrichir votre expérience
          et rendre votre visite aussi agréable que possible. Explorez notre
          billeterie pour obtenir vos billets d'entrée en toute simplicité,
          consultez notre plan d'accès et nos horaires pour planifier votre
          journée parfaite parmi les merveilles de la nature. Vous pouvez
          également choisir de profiter de notre petit train pour une visite
          panoramique confortable du parc, ou opter pour une visite guidée
          gratuite pour découvrir des faits fascinants sur nos habitants à
          fourrure et à plumes. Enfin, prenez une pause bien méritée et
          régalez-vous avec notre service de restauration proposant une variété
          de délices gastronomiques pour satisfaire toutes les papilles. Au Zoo,
          nous nous engageons à vous offrir une expérience inoubliable.
        </p>
      </div>
    </div>
  </div>

  <section class="section-services">
    <div class="service1">
      <article class="description" id="time">
        <h2 class="serv-title">{{ billetterie.nom ?? "Billetterie" }}</h2>
        <p>{{ billetterie.description ?? "" }}</p>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/services/billet.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>

    <hr class="service-divider" />

    <div class="service2">
      <article class="service">
        <img
          src="{{ asset('assets/images/services/zoo.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <h2 class="serv-title">
          {{ accesHoraires.nom ?? "Accès & Horaires" }}
        </h2>
        <p>{{ accesHoraires.description|default('Infos à venir.')|nl2br }}</p>
      </article>
    </div>

    <hr class="service-divider" />

    <div class="service3" id="train">
      <article class="description">
        <h2 class="serv-title">
          {{ petitTrain.nom ?? "Petit Train" }}
        </h2>
        <p>{{ petitTrain.description ?? "" }}</p>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/services/minitrain.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>

    <hr class="service-divider" />

    <div class="service4" id="guide">
      <article class="service">
        <img
          src="{{ asset('assets/images/services/guide.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <h2 class="serv-title">{{ guide.nom ?? "Guide" }}</h2>
        <p>{{ guide.description ?? "" }}</p>
      </article>
    </div>

    <hr class="service-divider" />

    <div class="service5" id="restaurant">
      <article class="description">
        <h2 class="serv-title">{{ restauration.nom ?? "Restauration" }}</h2>
        <p>{{ restauration.description ?? "" }}</p>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/services/restaurant.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
  </section>
</div>
{% endblock %}
