{% extends 'user_base.html.twig' %} {% block title %}Interface Employé{%
endblock %} {% block content %}
<header class="bg-light py-3 text-center">
  <h1>Bienvenue, {{ app.user.email }}!</h1>
  <p>Vous êtes connecté en tant qu'<strong>Employé</strong>.</p>
  <a href="{{ path('app_logout') }}" class="logout btn btn-danger"
    >Déconnexion</a
  >
</header>

<section class="container py-4">
  <h2>Liste des Avis</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Pseudo</th>
        <th>Email</th>
        <th>Commentaire</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for avis in avisList %}
      <tr>
        <td>{{ avis.id }}</td>
        <td>{{ avis.pseudo }}</td>
        <td>{{ avis.email }}</td>
        <td>{{ avis.commentaire }}</td>
        <td>
          {{ avis.dateCreation ? avis.dateCreation|date('Y-m-d') : 'Aucune date' }}
        </td>
        <td>{{ avis.estValide ? "Oui" : "Non" }}</td>
        <td>
          <button
            onclick="validerAvis('{{ avis.id }}')"
            {%
            if
            avis.estValide
            %}disabled{%
            endif
            %}
          >
            Valider
          </button>
          <button onclick="supprimerAvis('{{ avis.id }}')">Supprimer</button>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="4" class="text-center">Aucun avis disponible.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
