{% extends 'base.html.twig' %} {% block title %}Savane{% endblock %} {% block
content %}
<div class="background-section-savane">
  <div class="container service-container">
    <div class="row">
      <nav class="col-md-3 service-nav">
        <ul>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_desert' %}active{% endif %}"
          >
            <a href="{{ path('app_desert') }}">Désert</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_jungle' %}active{% endif %}"
          >
            <a href="{{ path('app_jungle') }}">Jungle</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_mountain' %}active{% endif %}"
          >
            <a href="{{ path('app_mountain') }}">Montagne</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_marais' %}active{% endif %}"
          >
            <a href="{{ path('app_marais') }}">Marais</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_savane' %}active{% endif %}"
          >
            <a href="{{ path('app_savane') }}">Savane</a>
          </li>
        </ul>
      </nav>
      <div class="col-md-9 content animals-intro">
        <h1 class="animals-title">Savane</h1>
        <p class="intro-animals">
          Bienvenue dans la Savane, un vaste horizon de beauté naturelle au cœur
          de notre zoo. Découvrez cet habitat emblématique où l'éléphant
          d'Afrique, la girafe, le guépard, le lion, le rhinocéros et le zèbre
          évoluent en harmonie.<br />
          <br />
          Parcourez ces étendues sauvages où chaque pas révèle la majesté de la
          vie animale. Plongez dans ce monde fascinant où chaque créature
          incarne la splendeur de la vie sauvage de la Savane.
        </p>
      </div>
    </div>
  </div>

  <section class="section-services">
    <div class="service1">
      <article class="description">
        <p>
          Prénom : Tembo <br />
          Race : Éléphant d'Afrique <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Savane <br />
          État de l'animal : <br />
          Nourriture proposée : herbes, feuilles, écorce <br />
          Grammage de la nourriture : 100 à 300 kg <br />
          Date de passage : 00/00/2024
        </div>
        <div class="like-button-container">
          <button id="increment-Tembo" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('savane/elephant.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service2">
      <article class="service">
        <img
          src="{{ asset('savane/girafe.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <p>
          Prénom : Jasiri <br />
          Race : Girafe <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Savane <br />
          État de l'animal : <br />
          Nourriture proposée : feuilles d'acacia, branches <br />
          Grammage de la nourriture : 30 à 75 kg <br />
          Date de passage : 00/00/2024
        </div>
        <p>
          Prénom : Kito <br />
          Race : Girafe (Jeune) <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Savane <br />
          État de l'animal : <br />
          Nourriture proposée : lait maternel, feuilles tendres <br />
          Grammage de la nourriture : 5 à 15 kg <br />
          Date de passage : 00/00/2024
        </div>
        <div class="like-button-container">
          <button id="increment-JasiriKito" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service3">
      <article class="description">
        <p>
          Prénom : Raja <br />
          Race : Guépard <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Savane <br />
          État de l'animal : <br />
          Nourriture proposée : viande de poulet, agneau, mouton <br />
          Grammage de la nourriture : 2 à 4 kg <br />
          Date de passage : 00/00/2024
        </div>
        <div class="like-button-container">
          <button id="increment-Raja" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('savane/guepard.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service4" id="lion">
      <article class="service">
        <img
          src="{{ asset('savane/lion.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <p>
          Prénom : Simba <br />
          Race : Lion <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Savane <br />
          État de l'animal : <br />
          Nourriture proposée : viande de bœuf, poulet, poisson <br />
          Grammage de la nourriture : 5 à 10 kg <br />
          Date de passage : 00/00/2024
        </div>
        <div class="like-button-container">
          <button id="increment-Simba" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service5">
      <article class="description">
        <p>
          Prénom : Rhino, Rina et Rocco <br />
          Race : Rhinocéros <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div id="etat-animal" class="etat-animal-rhino" style="display: none">
          Habitat : Savane <br />
          État des animaux : <br />
          Nourriture proposée : foin, herbes, branches <br />
          Grammage de la nourriture : 50 à 100 kg par rhinocéros <br />
          Date de passage : 00/00/2024
        </div>
        <div class="like-button-container">
          <button id="increment-rhinoFamily" class="jaime-btn">
            ❤️ J'aime
          </button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('savane/rhinoceros.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service6">
      <article class="service">
        <img
          src="{{ asset('savane/zèbre.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <p>
          Prénom : Zara <br />
          Race : Zèbre <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Savane <br />
          État de l'animal : <br />
          Nourriture proposée : herbes, feuilles, écorce <br />
          Grammage de la nourriture : 10 à 15 kg <br />
          Date de passage : 00/00/2024
        </div>
        <div class="like-button-container">
          <button id="increment-Zara" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
    </div>
  </section>
</div>
{% endblock %}
