{% extends 'base.html.twig' %} {% block title %}Savane{% endblock %} {% block
content %}
<div class="background-section-savane">
  <div class="container service-container">
    <div class="row">
      <nav class="col-md-3 service-nav">
        <ul>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_desert' %}active{% endif %}"
          >
            <a href="{{ path('app_desert') }}">Désert</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_jungle' %}active{% endif %}"
          >
            <a href="{{ path('app_jungle') }}">Jungle</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_mountain' %}active{% endif %}"
          >
            <a href="{{ path('app_mountain') }}">Montagne</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_marais' %}active{% endif %}"
          >
            <a href="{{ path('app_marais') }}">Marais</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_savane' %}active{% endif %}"
          >
            <a href="{{ path('app_savane') }}">Savane</a>
          </li>
        </ul>
      </nav>
      <div class="col-md-9 content animals-intro">
        <h1 class="animals-title">Savane</h1>
        <p class="intro-animals">
          {{ habitat.description }}
        </p>
      </div>
    </div>
  </div>

  <section class="section-services">
    <div class="service1">
      <article class="description">
        <p>
          Prénom : {{ animal1.prenom }}<br />
          Race : {{ animal1.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Savane <br />
          État de l'animal : {{ animal1.etatAnimal }} <br />
          Nourriture proposée : {{ animal1.nourritureProposee }} <br />
          Grammage de la nourriture : {{ animal1.grammagenourriture }} <br />
          Date de passage : {{ animal1.datePassage|date('d-m-Y H:i') }}
        </div>
        <div class="like-button-container">
          <button id="increment-Tembo" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/savane/elephant.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service2">
      <article class="service">
        <img
          src="{{ asset('assets/images/savane/girafe.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <p>
          Prénom : {{ animal2.prenom }} <br />
          Race : {{ animal2.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Forêts tropicales d'Amérique du Sud <br />
          État de l'animal : {{ animal2.etatAnimal }}<br />
          Nourriture proposée : {{ animal2.grammagenourriture }} <br />
          Grammage de la nourriture : {{ animal2.grammagenourriture }} <br />
          Date de passage : {{ animal2.datePassage|date('d-m-Y H:i') }}
        </div>
        <p>
          Prénom : {{ animal3.prenom }} <br />
          Race : {{ animal3.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Savane <br />
          État de l'animal : {{ animal3.etatAnimal }}<br />
          Nourriture proposée : {{ animal3.grammagenourriture }} <br />
          Grammage de la nourriture : {{ animal3.grammagenourriture }} <br />
          Date de passage : {{ animal3.datePassage|date('d-m-Y H:i') }}
        </div>
        <div class="like-button-container">
          <button id="increment-JasiriKito" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service3">
      <article class="description">
        <p>
          Prénom : {{ animal4.prenom }} <br />
          Race : {{ animal4.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Savane <br />
          État de l'animal : {{ animal4.etatAnimal }}<br />
          Nourriture proposée : {{ animal4.grammagenourriture }} <br />
          Grammage de la nourriture : {{ animal4.grammagenourriture }} <br />
          Date de passage : {{ animal4.datePassage|date('d-m-Y H:i') }}
        </div>
        <div class="like-button-container">
          <button id="increment-Raja" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/savane/guepard.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service4" id="lion">
      <article class="service">
        <img
          src="{{ asset('assets/images/savane/lion.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <p>
          Prénom : {{ animal5.prenom }} <br />
          Race : {{ animal5.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Savane <br />
          État de l'animal : {{ animal5.etatAnimal }}<br />
          Nourriture proposée : {{ animal5.grammagenourriture }} <br />
          Grammage de la nourriture : {{ animal5.grammagenourriture }} <br />
          Date de passage : {{ animal5.datePassage|date('d-m-Y H:i') }}
        </div>
        <div class="like-button-container">
          <button id="increment-Simba" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service5">
      <article class="description">
        <p>
          Prénom : Rhino, Rina et Rocco <br />
          Race : {{ animal6.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div id="etat-animal" class="etat-animal-rhino" style="display: none">
          Habitat : Savane <br />
          État de l'animal : {{ animal6.etatAnimal }}<br />
          Nourriture proposée : {{ animal6.grammagenourriture }} <br />
          Grammage de la nourriture : {{ animal6.grammagenourriture }} <br />
          Date de passage : {{ animal6.datePassage|date('d-m-Y H:i') }}
        </div>
        <div class="like-button-container">
          <button id="increment-rhinoFamily" class="jaime-btn">
            ❤️ J'aime
          </button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/savane/rhinoceros.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service6">
      <article class="service">
        <img
          src="{{ asset('assets/images/savane/zèbre.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <p>
          Prénom : {{ animal7.prenom }} <br />
          Race : {{ animal7.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Savane <br />
          État de l'animal : {{ animal7.etatAnimal }}<br />
          Nourriture proposée : {{ animal7.grammagenourriture }} <br />
          Grammage de la nourriture : {{ animal7.grammagenourriture }} <br />
          Date de passage : {{ animal7.datePassage|date('d-m-Y H:i') }}
        </div>
        <div class="like-button-container">
          <button id="increment-Zara" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
    </div>
  </section>
</div>
{% endblock %}
