{% extends 'base.html.twig' %} {% block title %}Désert{% endblock %} {% block
content %}
<div class="background-section-desert">
  <div class="container service-container">
    <div class="row">
      <nav class="col-md-3 service-nav">
        <ul>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_desert' %}active{% endif %}"
          >
            <a href="{{ path('app_desert') }}">Désert</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_jungle' %}active{% endif %}"
          >
            <a href="{{ path('app_jungle') }}">Jungle</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_mountain' %}active{% endif %}"
          >
            <a href="{{ path('app_mountain') }}">Montagne</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_marais' %}active{% endif %}"
          >
            <a href="{{ path('app_marais') }}">Marais</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_savane' %}active{% endif %}"
          >
            <a href="{{ path('app_savane') }}">Savane</a>
          </li>
        </ul>
      </nav>
      <div class="col-md-9 content animals-intro">
        <h1 class="animals-title">Désert</h1>
        <p class="intro-animals">
          {{ habitat.description }}
        </p>
      </div>
    </div>
  </div>
  <section class="section-services">
    <div class="service1">
      <article class="description">
        <p>
          Prénom : {{ animal1.prenom }} <br />
          Race : {{ animal1.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Zones désertiques d'Afrique du Nord et du Moyen-Orient
          <br />
          État de l'animal : {{ animal1.etat }} <br />
          Nourriture proposée : {{ animal1.nourritureProposee }} <br />
          Grammage de la nourriture : {{ animal1.grammage }} g<br />
          Date de passage :
          {{ animal1.dateDernierPassage ? animal1.dateDernierPassage|date('d-m-Y H:i') : 'Non renseignée' }}
        </div>
        <div class="like-button-container">
          <button id="increment-Nick" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/desert/viperedesert.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service2">
      <article class="service">
        <img
          src="{{ asset('assets/images/desert/fenec.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <p>
          Prénom : {{ animal2.prenom }} <br />
          Race : {{ animal2.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Déserts d'Afrique du Nord <br />
          État de l'animal : {{ animal2.etat }} <br />
          Nourriture proposée : {{ animal2.nourritureProposee }} <br />
          Grammage de la nourriture : {{ animal2.grammage }} g<br />
          Date de passage :
          {{ animal2.dateDernierPassage ? animal2.dateDernierPassage|date('d-m-Y H:i') : 'Non renseignée' }}
        </div>
        <div class="like-button-container">
          <button id="increment-Feunard" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service3">
      <article class="description">
        <p>
          Prénom : {{ animal3.prenom }} <br />
          Race : {{ animal3.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Forêts tropicales, plaines et déserts d'Asie <br />
          État de l'animal : {{ animal3.etat }} <br />
          Nourriture proposée : {{ animal3.nourritureProposee }} <br />
          Grammage de la nourriture : {{ animal3.grammage }} g<br />
          Date de passage :
          {{ animal3.dateDernierPassage ? animal3.dateDernierPassage|date('d-m-Y H:i') : 'Non renseignée' }}
        </div>
        <div class="like-button-container">
          <button id="increment-Abo" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/desert/cobraroyal.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service4">
      <article class="service">
        <img
          src="{{ asset('assets/images/desert/dromadaire.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <p>
          Prénom : {{ animal4.prenom }} <br />
          Race : {{ animal4.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Déserts d'Afrique du Nord et du Moyen-Orient <br />
          État de l'animal : {{ animal4.etat }} <br />
          Nourriture proposée : {{ animal4.nourritureProposee }} <br />
          Grammage de la nourriture : {{ animal4.grammage }} g<br />
          Date de passage :
          {{ animal4.dateDernierPassage ? animal4.dateDernierPassage|date('d-m-Y H:i') : 'Non renseignée' }}
        </div>
        <div class="like-button-container">
          <button id="increment-Doma" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
    </div>
    <hr class="service-divider" />

    <div class="service5">
      <article class="description">
        <p>
          Prénom : {{ animal5.prenom }} <br />
          Race : {{ animal5.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Déserts d'Amérique du Nord <br />
          État de l'animal : {{ animal5.etat }} <br />
          Nourriture proposée : {{ animal5.nourritureProposee }} <br />
          Grammage de la nourriture : {{ animal5.grammage }} g<br />
          Date de passage :
          {{ animal5.dateDernierPassage ? animal5.dateDernierPassage|date('d-m-Y H:i') : 'Non renseignée' }}
        </div>
        <div class="like-button-container">
          <button id="increment-Zed" class="jaime-btn">❤️ J'aime</button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/desert/iguanedesert.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
  </section>
</div>
{% endblock %}
