{% extends 'base.html.twig' %} {% block title %}Jungle{% endblock %} {% block
content %}
<div class="background-section-jungle">
  <div class="container service-container">
    <div class="row">
      <nav class="col-md-3 service-nav">
        <ul>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_desert' %}active{% endif %}"
          >
            <a href="{{ path('app_desert') }}">Désert</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_jungle' %}active{% endif %}"
          >
            <a href="{{ path('app_jungle') }}">Jungle</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_mountain' %}active{% endif %}"
          >
            <a href="{{ path('app_mountain') }}">Montagne</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_marais' %}active{% endif %}"
          >
            <a href="{{ path('app_marais') }}">Marais</a>
          </li>
          <li
            class="{% if app.request.attributes.get('_route') == 'app_savane' %}active{% endif %}"
          >
            <a href="{{ path('app_savane') }}">Savane</a>
          </li>
        </ul>
      </nav>
      <div class="col-md-9 content animals-intro">
        <h1 class="animals-title">Jungle</h1>
        <p class="intro-animals">
          {{ habitat.description }}
        </p>
      </div>
    </div>
  </div>
  <section class="section-services">
    <div class="service1">
      <article class="description">
        <p>
          Prénom : {{ animal1.prenom }}<br />
          Race : {{ animal1.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Forêts tropicales d'Amérique du Sud <br />
          État de l'animal : {{ animal1.etat }} <br />
          Nourriture proposée : {{ animal1.nourritureProposee }} <br />
        </div>
        <div class="like-button-container">
          <button
            type="button"
            class="jaime-btn"
            data-url="{{ path('jaime_incrementer', { id: animal1.id }) }}"
            data-id="{{ animal1.id }}"
            data-name="{{ animal1.prenom }}"
            data-token="{{ csrf_token('like_' ~ animal1.id) }}"
          >
            ❤️ J'aime
          </button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/jungle/anaconda.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
    <hr class="service-divider" />
    <div class="service2">
      <article class="service">
        <img
          src="{{ asset('assets/images/jungle/jaguar.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <p>
          Prénom : {{ animal2.prenom }} <br />
          Race : {{ animal2.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Forêts tropicales d'Amérique du Sud <br />
          État de l'animal : {{ animal2.etat }} <br />
          Nourriture proposée : {{ animal2.nourritureProposee }} <br />
        </div>
        <div class="like-button-container">
          <button
            type="button"
            class="jaime-btn"
            data-url="{{ path('jaime_incrementer', { id: animal2.id }) }}"
            data-id="{{ animal2.id }}"
            data-name="{{ animal2.prenom }}"
            data-token="{{ csrf_token('like_' ~ animal2.id) }}"
          >
            ❤️ J'aime
          </button>
        </div>
      </article>
    </div>
    <hr class="service-divider" />
    <div class="service3">
      <article class="description">
        <p>
          Prénom : {{ animal3.prenom }} <br />
          Race : {{ animal3.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Forêts tropicales d'Asie <br />
          État de l'animal : {{ animal3.etat }} <br />
          Nourriture proposée : {{ animal3.nourritureProposee }} <br />
        </div>
        <div class="like-button-container">
          <button
            type="button"
            class="jaime-btn"
            data-url="{{ path('jaime_incrementer', { id: animal3.id }) }}"
            data-id="{{ animal3.id }}"
            data-name="{{ animal3.prenom }}"
            data-token="{{ csrf_token('like_' ~ animal3.id) }}"
          >
            ❤️ J'aime
          </button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/jungle/macaque.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
    <hr class="service-divider" />
    <div class="service4">
      <article class="service">
        <img
          src="{{ asset('assets/images/jungle/perroquet.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
      <article class="description">
        <p>
          Prénom : {{ animal4.prenom }} <br />
          Race : {{ animal4.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Forêts tropicales d'Amérique du Sud <br />
          État de l'animal : {{ animal4.etat }} <br />
          Nourriture proposée : {{ animal4.nourritureProposee }} <br />
        </div>
        <div class="like-button-container">
          <button
            type="button"
            class="jaime-btn"
            data-url="{{ path('jaime_incrementer', { id: animal4.id }) }}"
            data-id="{{ animal4.id }}"
            data-name="{{ animal4.prenom }}"
            data-token="{{ csrf_token('like_' ~ animal4.id) }}"
          >
            ❤️ J'aime
          </button>
        </div>
      </article>
    </div>
    <hr class="service-divider" />
    <div class="service5">
      <article class="description">
        <p>
          Prénom : {{ animal5.prenom }} <br />
          Race : {{ animal5.race }} <br />
          <button class="info" onclick="toggleInfo(this)">
            En savoir plus...
          </button>
        </p>
        <div style="display: none">
          Habitat : Forêts tropicales et mangroves d'Asie du Sud <br />
          État de l'animal : {{ animal5.etat }} <br />
          Nourriture proposée : {{ animal5.nourritureProposee }} <br />
        </div>
        <div class="like-button-container">
          <button
            type="button"
            class="jaime-btn"
            data-url="{{ path('jaime_incrementer', { id: animal5.id }) }}"
            data-id="{{ animal5.id }}"
            data-name="{{ animal5.prenom }}"
            data-token="{{ csrf_token('like_' ~ animal5.id) }}"
          >
            ❤️ J'aime
          </button>
        </div>
      </article>
      <article class="service">
        <img
          src="{{ asset('assets/images/jungle/tigre.jpg') }}"
          onclick="agrandirImage(this)"
        />
      </article>
    </div>
  </section>
</div>

{% endblock %}
